.admin{
    margin-top:80px;
    background-color:#FFFFFF;
}
.button-admin{
    background-color:#E5E5E5;
    border: none;
    color: black;
    text-align: center;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}
.table-bordered{
    text-align: center;
}
.container-fluid{
    margin-top:10%;
    padding-left: 10%;
    padding-right: 10%;
}