.favs{
    margin-top: 100px;
    margin-left: 20%;
    min-height: 450px;
}

.fav__area{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.peritem__details{
    margin-top: 25px;
}

.product{
    font-size: 40px;
}

.price{
    font-size: 40px;
}