.app__home{
    background-color: black !important;
}
  
.app__video{
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
  
.sections{
    color: white;
    text-align: center;
}

.sections h2{
    font-size: 40px;
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

.sections h2:first-child{
    margin-top: 40px;
}

.sections img{
    height: 100%;
    width: 90%;
    padding: 30px;
    border-radius: 40px;
}

.sections img:hover{
    cursor:pointer;
}
  
.brand__car{
    padding:25px;
    background-color: #D5D7CC;
}

.brand__prod{
    padding:25px;
    background-color: #F6D5B6;
}

.brand__cat{
    padding:25px;
    background-color: #D5D7CC;
}

.card{
    margin:50px 0;
}

.card:hover{
    -webkit-box-shadow: 0px 6px 28px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 6px 28px -6px rgba(0,0,0,0.55);
    box-shadow: 0px 6px 28px -6px rgba(0,0,0,0.55);
}

.mycard{
    height: 250px;
    overflow: hidden;
    padding-top: 50%;
}

.app__personalize{
    padding-bottom: 50px;
}

.search__bar{
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search__bar input{
    border-style: none;
    padding: 20px;
    width: 450px;
    text-align: center;
    border-radius: 10px;
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.search__bar input:focus{
    background-color: whitesmoke;
}

.search-button{
    margin-left: 20px;
}