@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  text-align:left;
}
code {
  font-family: 'Raleway',
    monospace;
}

.contp{
  background-color: #F4D6B4;
  
}
.contw{
  margin: 2%;
  border-radius: 10px;
  background-color: #ffffff;
}
.card-wrapper{
  max-width: 1200px;
  margin: 3% auto;
}

img{
  width: 100%;
  display: block;
  border-radius:5px;
}
.img-display{
  overflow: hidden;
}
.img-showcase{
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img{
  min-width: 100%;
}
.img-select{
  display: flex;
}
.img-item{
  margin: .7rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
  margin-right: 0;
}
.img-item:hover{
  opacity: 0.8;
}
.product-content{
  padding: 2rem 1rem;
  width:85%;
  margin-top:8px;
}
.product-title{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: .2rem 0;
}
.product-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 40%;
  background: #12263a;
}
.product-link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #90A9A6;
  color: #000;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover{
  opacity: 0.9;
}
.product-rating{
  color: #ffc107;
  margin-top:15%;
}
.product-rating span{
  font-weight: 600;
  color: #252525;
}
.product-price{
  margin: auto;
  font-size: 1rem;
  font-weight: 900;
}
.product-price span{
  font-weight: 400;
  font-family: 'Philosopher',
    monospace;
}
.last-price span{
  color: #90A9A6;
  text-decoration: line-through;
}
.new-price span{
  color: black;
  font-size:285%;
}
.product-detail{
  background-color: #D5D7CC;
}
.product-detail h2{
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p{
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul{
  margin: 0rem 0;
  font-size: 0.9rem;
}
.product-detail ul li{
  margin: 0;
  list-style: none;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span{
  font-weight: 400;
}
.purchase-info{
  margin: 1.5rem 0;
}
.purchase-info input{
    border: 1.5px solid #ddd;
    border-radius: 0%;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
  
}
.purchase-info .btn{
  border: 1.5px solid #ddd;
  border-radius: 0%;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
  font-size: 80%;
  letter-spacing: 3px;
  height:45px;
}
.purchase-info input{
  width: 60px;
  
}
.purchase-info .btn{
  cursor: pointer;
  color: #000;
  
}
.purchase-info .btn:first-of-type{
  background: #90A9A6;
  width: 60%;
}
.icn{
  margin-right:1rem;
}
.purchase-info .btn:last-of-type{
  background: #90A9A6;
  
}
.purchase-info .btn:hover{
  opacity: 0.9;
}
.social-links{
  display: flex;
  align-items: center;
}
.social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.purchase-info img{
  width:24px;

}
.social-links a:hover{
  background: #000;
  border-color: transparent;
  color: #fff;
}
.social-links p{
  position:relative;
  top:0px;
  margin:11px;
  margin-left:0px;
  letter-spacing: 3px;
  font-size:.9rem;
}

.product-color {
  margin-bottom: 22px;
  font-family: 'Raleway',
    monospace;
}
.colr{
  position:relative;
  left:13%;
}

.color-choose div {
  display: inline-block;
  letter-spacing: 3px;
  font-size:.9rem;
}
 
.color-choose input[type="radio"] {
  display: none;
}
 
.color-choose input[type="radio"] + label span {
  display: inline-block;
  width:22px;
  height: 22px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}
 
.color-choose input[type="radio"] + label span {
  border: 2px solid #90A9A6;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
 
.color-choose input[type="radio"]#red + label span {
  background-color: #C91524;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}
.color-choose input[type="radio"]#yellow + label span {
  background-color: #f5e12d;
}
 
.color-choose input[type="radio"]:checked + label span {
  opacity:0.5;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper{
  max-width: 1200px;
	margin: auto;
  
}
ul{
  width:50%;
  position:relative;
  left:25%;
}

.tabs ul{
	display: flex;
	background: #D5D7CC;
	border: 1px solid #dddddd;
	border-radius: 5px;
  
}

.tabs ul li{
	width: 250px;
	padding: 15px;
	border-right: 1px solid #dddddd;
	text-align: center;
	color: #3b3b3b;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 3px;
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;
}

.tabs ul li .icon{
	font-size: 20px;
	margin-right: 5px;
	vertical-align: middle;
}

.tabs ul li:last-child{
	border-right: 0px;
}

.tabs ul li:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #90A9A6;
	opacity: 0;
	transition: all 0.2s ease;
}

.tabs ul li:hover,
.tabs ul li.active{
	background: #D5D7CC;
	color: #000;
}

.tabs ul li:hover:before,
.tabs ul li.active:before{
	opacity: 1;
}

.content{
	background: #D5D7CC;
	border: 1px solid #D5D7CC;
	border-radius: 5px;
	padding: 20px;
  margin:auto;
  
  box-shadow: 3px 3px 5px #aaaaaa;
}

.tab_wrap .title{
	font-size: 20px;
	font-weight: 600;
}

.tab_wrap .tab_content p{
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 10px;
}
.title{
  float: center;
}
.contaier {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-left:0px;
  letter-spacing: 3px;
  font-size:.9rem;
  
}
.quantity {
  display: flex;
  float:left;
  justify-content: left;
  padding: 0 0 0 0;
  margin-left:0px;
  margin-top:5px;
}
.quantity__minus,
.quantity__plus {
  position:relative;
  display: block;
  width: 22px;
  height: 25px;
  margin: 0;
  background: #90A9A6;
  text-decoration: none;
  text-align: center;
  line-height: 23px;
  left:10%;
  color: #000;
}
.quantity__minus:hover,
.quantity__plus:hover {
  background: #575b71;
  color: #000;
} 
.quantity__minus {
  border-radius: 3px 0 0 3px;
  font-size:150%;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
  font-size:150%;
}
.quantity__input {
  position:relative;
  left:10%;
  width: 32px;
  height: 25px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #dee0ee;
  border-bottom: 2px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  background: #fff;
  color: #8184a1;
}
.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
} 
.quantity__minus:visited,
.quantity__plus:visited {
  color: #000;
}
@media screen and (min-width: 992px){
  .card{
    display: grid;
    grid-template-columns: 53% 47%;
    grid-gap: 1rem;
  box-shadow: 3px 3px 5px #aaaaaa;
}
.vertical { 
  border-left: 1px solid #E7AF8D; 
  height: 80%; 
  position:absolute; 
  top:10%;
  left: 53%; 
}
.card-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:0px;
    padding-bottom:0px;
    
}
  .product-imgs{
      display: flex;
      margin:5%;
      flex-direction: column;
      justify-content: center;
  }
  .product-content{
      padding-top: 0;
  }
}

@media screen and(max-width:992px){
  .wrapper{
    width:100%;
  }
  .tab{
    width:100%;
    
  }
}