.products__page{
    background-color: #D5D7CC;
}

.top__bar{
    margin: auto;
    padding-top: 57px;
    background-color: #F6D5B6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.filter{
    justify-self: start;
    margin-left: 30px;
}

.top__bar p{
    justify-self: center;
    font-size: 18px;
}

.sort{
    justify-self: end;
    margin-right: 30px;
}

.product__cards{
    margin-left: 17%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 0%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.product__cards li{
    list-style: none;
}

.itemimg{
    align-self: center;
    width: 60%;
    height: 180px;
    margin-bottom: -12px;
}

.product__details__btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.butn{
    border: 1.5px solid #ddd;
    border-radius: 0%;
    padding: 0.45rem 0.8rem;
    outline: 0;
    font-size: 100%;
    height:45px;
}

.butn:first-of-type{
    background: #90A9A6;
}

.icn{
    margin-right:1rem;
}

.butn:last-of-type{
    background: #90A9A6;
    width: 50%; 
}

.heart{
    height: 100%;
    width: 100%;
}

.butn:hover{
    opacity: 0.9;
}
