.product{
    margin: 100px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    overflow: hidden;
    border: rgb(221, 220, 221) solid 2px;
    border-radius: 10px;
    padding: 100px;
}

.product img{
    justify-self: center;
}

.prod__info{
    margin-top: 15px;
    margin-left: 75px;
}

.prod__buttons{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.title{
    font-size: 46px;
    color: #90A9A6;
}

.rupee{
    font-size: 40px;
}

.price{
    font-size: 30px;
}

.desc{
    font-size: 22px;
    color: rgb(78, 77, 77);
}

.disc{
    font-size: 22px;
    color: red;
}

.desch,.disch{
    font-size: 26px;
    color: black;
}
