.prodbody{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='29.3' stroke-opacity='0.01'%3E%3Crect fill='%23f6d5b6' x='-60' y='-60' width='150' height='240'/%3E%3C/g%3E%3C/svg%3E");
    padding: 10px;
}

.product{
    margin: 100px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    overflow: hidden;
    border: rgb(221, 220, 221) solid 2px;
    border-radius: 10px;
    padding: 100px;
    background-color: #fff;
}

.product img{
    justify-self: center;
    height: 100%;
    width: 100%;
}

.prod__info{
    margin-top: 15px;
    margin-left: 75px;
}

.prod__buttons{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.title{
    font-size: 46px;
    color: #90A9A6;
}

.prices{
    font-size: 32px !important;
}

.rs{
    font-size: 40px !important;
}

.desc{
    font-size: 22px;
    color: rgb(78, 77, 77);
}

.disc{
    font-size: 22px;
    color: red;
}

.desch,.disch{
    font-size: 26px;
    color: black;
}

.rs{
    font-size: 26px;
}