.products__page{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='29.3' stroke-opacity='0.01'%3E%3Crect fill='%23f6d5b6' x='-60' y='-60' width='150' height='240'/%3E%3C/g%3E%3C/svg%3E");
}

.top__bar{
    margin: auto;
    padding-top: 57px;
    background-color: #F6D5B6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.top__bar p{
    justify-self: center;
    font-size: 32px;
    padding-top: 12px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 0.2em;
}

.product__cards{
    margin-left: 11%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 0%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.product__cards li{
    list-style: none;
}

.itemimg{
    align-self: center;
    width: 60%;
    height: 100%;
    margin-bottom: -12px;
}

.card-body{
    padding-right: 0px;
    padding-left: 8%;
}

.price{
    font-size: 18px !important;
    font-weight: bold;
}

.disc{
    font-size: 18px !important;
    color: black !important;
    font-weight: bold;
}

.details{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.limit{
    color: red;
    font-size: 16px;
    font-family: cursive;
}
