.general li
{
  display:inline-block;
  margin-bottom:4px;
  list-style: none;
  width: 20%;
  margin-left: 5%;
  color: #8DAAA6;
  font-weight: 10;
  font-size: 20px;
  z-index: 100;
}
@media (max-width:767px)
{
  .general li
  {
    z-index: 100;
    display:block;
    margin-right: 0px;
    margin-left:15%;
    margin-top: 5%;
    font-weight:10;
    width: 150%;
  }
}